<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LSTM Model</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <style>
    .navbar {
      background-color: black;
    }

    body {
      background-image: url('static/background_homepage.png');
    }

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* height: 50%; */
}
  </style>
</head>

<body>

  <div class="navbar">
    <h1 style="color:white ;">Production Industry</h1>
    <h2 style="color:white;">LSTM Model</h2>
<a href="{{ url_for('index') }}" class="btn btn-outline-success" style="
                font-weight: bolder; color: rgb(255, 255, 255); font-size:large; margin-right: 20%;">
      Home
    </a>
  </div>

  <div class="col-md-12 text-center">
    <!-- <a class="btn btn-primary" href="{{ url_for('lstm_model') }}">LSTM Model</a> -->
    <BUTTON class="btn btn-primary" style="font-weight: bold;" ONCLICK="ShowAndHide()">Display Graph Results</BUTTON>
  </div>

  <section id="txtCode" style="display:none">
   <img src="static/charts_temp/chart2.png" alt="" height="80%" class="center">
  </section>


  <SCRIPT>
    function ShowAndHide() {
      var x = document.getElementById('txtCode');
      if (x.style.display == 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }

  </SCRIPT>

</body>

</html>